<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalles de Marca</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <link th:href="@{/styles/estilos.css}" rel="stylesheet" />
    <link th:href="@{/styles/RosaSakura.css}" rel="stylesheet" />
</head>
<body>
    <nav th:replace="components/navbar-admin :: nav_bar"></nav>
    <main>
        <div class="container">
            <h3 class="my-3">Detalles de Marca</h3>
            <div class="card">
                <img th:src="@{${marca.imagen}}" class="card-img-top img-fluid img-thumbnail mx-auto d-block" alt="Imagen de marca" style="max-height: 300px; max-width: 300px; object-fit: contain;">
                <div class="card-body">
                    <h5 th:text="${marca.nombre}" class="card-title"></h5>
                    <!-- Aquí puedes añadir más detalles sobre la marca -->
                </div>
            </div>
            <form th:action="@{/marcas/admin/update/correct/{id}(id=${marca.id})}" method="post" class="mt-3">
                <div class="form-group">
                    <label for="nombre">Nombre de la Marca</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" th:value="${marca.nombre}" required>
                </div>
                <div class="form-group">
                    <label for="imagen">URL de la Imagen</label>
                    <input type="text" class="form-control" id="imagen" name="imagen" th:value="${marca.imagen}" required>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Guardar cambios</button>
            </form>
            <form th:action="@{/marcas/admin/darbaja/{id}(id=${marca.id})}" method="post" class="mt-3">
                <button type="submit" class="btn btn-danger">Dar de baja</button>
            </form>
        </div>
    </main>
    <footer class="page-footer text-center font-small mt-4 wow fadeIn"></footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>

