<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sakura - Lista de marcas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link th:href="@{/styles/estilos.css}" rel="stylesheet">
    <!--<REVISAR ESTO de abajo (RosaSakura) SI DA ERROR>-->
    <link th:href="@{/styles/RosaSakura.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans" rel="stylesheet" type="text/css">
    <style>
        .card {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        .card-img-top {
            height: 150px;
            object-fit: contain;
        }
        .card-body {
            flex-grow: 1;
        }
        .card-footer {
            background: none;
            border-top: none;
        }
    </style>
    <script type="text/javascript" th:src="@{/js/archivo.js}"></script>
</head>
<body>
    <nav th:replace="components/navbar-admin:: nav_bar"></nav>
    <main>
        <div class="container">
            <div class="d-flex justify-content-between align-items-center my-3">
                <h3>Marcas</h3>
                <a th:href="@{/marcas/admin/nueva}" class="btn btn-success">Añadir nueva marca</a>
            </div>
            <div>
                <p th:text="'Número de marcas disponibles: ' + ${#lists.size(marcas)}"></p>
            </div>
            <section class="text-center mb-4">
                <div class="row wow fadeIn">
                    <div th:if="${#lists.isEmpty(marcas)}">
                        <p>No hay marcas disponibles</p>
                    </div>
                    <div th:each="marca : ${marcas}" class="col-xl-3 col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <div class="view overlay">
                                <img th:src="@{${marca.imagen}}" class="card-img-top img-fluid img-thumbnail" alt="Imagen de marca">
                                <a th:href="@{/marcas/admin/update/{id}(id=${marca.id})}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <div class="card-body text-center">
                                <h5 th:text="${marca.nombre}" class="card-title"></h5>
                                <a th:href="@{/marcas/admin/update/{id}(id=${marca.id})}" class="btn btn-primary">Ver detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
             <!--<REVISAR ESTO SI DA ERROR>-->
            <div class="btn-container">
                <a th:href="@{/admin/inicio}" class="btn btn-secondary btn-small">Volver a administración</a> 
            </div>
        </div>
    </main>
    <footer class="page-footer text-center font-small mt-4 wow fadeIn"></footer>
    <script type="text/javascript" th:src="@{/js/searchByName.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>





